<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Pool Boiz</title>
      <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

  <div id="app"></div>

  <div id="new" class="Leaderboard" style="padding: 0">
    <h2>New Result</h2>

    <form action="/processresult" method="post">
    <p>Winner</p>
      <select name="playerA">
        <option>Ben</option>
        <option>Guyon</option>
        <option>Henry</option>
        <option>Kahloon</option>
        <option>Kieran</option>
        <option>Ryan</option>
      </select>
      <p>Loser</p>
      <select name="playerB">
        <option>Ben</option>
        <option>Guyon</option>
        <option>Henry</option>
        <option>Kahloon</option>
        <option>Kieran</option>
        <option>Ryan</option>
      </select>
      <div style="padding: 10px 0">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>

  <!-- <ol>
    {% for player in testing %}
    <li>{{ player }}</li>
    {% endfor %}
  </ol> -->


  <!-- <div id="history" class="Leaderboard">
    <h2>History</h2>
  </div> -->


  <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script  src="static/js/index.js"></script>

</body>

</html>
